.action-panel {
  display: flex;
  padding: 0 16px;
}

.action-panel .user-filter-container {
  display: flex;
  align-items: center;
}

.action-panel .user-filter-container .users-filter {
  font-size: 14px;
}

.action-panel .user-filter-container .reset-users-filter-btn {
  cursor: pointer;
}

.action-panel .user-filter-container .reset-users-filter-btn:hover {
  color: #ff0000;
}

