/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body, app-root, app-login {
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
  margin: 0;
}

app-login {
  justify-content: center;
  align-items: center;
}

app-dashboard {
  display: flex;
  flex: 1;
  flex-direction: column;
}

app-dashboard app-users {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.flex {
  display: flex;
  flex: 1;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #0094de;
}

.green-bordered-btn:not(:disabled) {
  border: 1px solid #72ba3a!important;
  color: #72ba3a!important;
}

.green-bordered-btn:not(:disabled):hover {
  background-color: #72ba3a!important;
  color: #fff!important;
}

.red-bordered-btn:not(:disabled) {
  border: 1px solid #ff1919!important;
  color: #ff1919!important;
}

.red-bordered-btn:not(:disabled):hover {
  background-color: #ff1919!important;
  color: #fff!important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background:not(:disabled),
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background:not(:disabled) {
  background-color: #72ba3a!important;
}

.mat-ripple-element {
  background-color: #72ba3a!important;
  opacity: 0.3;
}


