.users-table {
  display: flex;
  flex: 1;
  margin: 5px;
  overflow: auto;
}

.users-table mat-table {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.users-table mat-table mat-row:hover {
  background-color: #eff8fc
  ;
}
